{% load static %}



<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">
    <link rel="stylesheet" href="{% static '/css/Pretty-Footer.css' %} ">

    <style>

        #promo {
        text-align: center;
        padding: 40px;
        background: url("{% static '/images/pizza.jpeg' %}") no-repeat;
        background-size: cover;
        margin-top: 65px;
        }

        @media (max-width:991px) {
        #promo {
            padding: 20px;
        }
        }

        #promo .jumbotron {
        border-radius: 20px;
        padding: 40px;
        background-color: rgba(208, 224, 136, 0.75);
        max-width: 800px;
        margin: 0 auto;
        }

        @media (max-width:991px) {
        #promo .jumbotron {
            padding: 20px;
        }
        }

        .bg {

            background: url("{% static '/images/bgg1.jfif' %}") repeat;
            width: 100%;
            height: 100%;
            /* background-color: gray;  */
        }
    </style>

</head>

<body class="bg">
    <nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: lightblue;">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand navbar-link" href="#"><img src="{% static 'logo.png' %}"
                        style="width:50px;height: 50px;margin-top: -10px;" id="logo"><strong> Food Plaza
                    </strong></a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span
                        class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
                        class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav navbar-right">
                    <li role="presentation"><a href="#"><strong> Welcome {{ data.name  }} </strong></a></li>
                    <li role="presentation"><a href="/"><strong> Logout </strong></a></li>
                </ul>
            </div>
        </div>
    </nav>



    <div class="bg">



        <div class="row">
            <div class="column1">

                <div id="promo">
                    <div class="jumbotron" style="background-color: rgb(3, 78, 37);">
                    <table>
                    <tr style="text-align: center;">
                        <td style="padding: 10px;"> <label for="text" style="color: white;font-size: 15px;">Filter :</label> </td>
                       <form action="filter" method="POST">
                        {% csrf_token %}
                       
                        <td style="padding: 10px;" >
                            
                            <input type="text" name="filter_option" class="form-control" placeholder="Enter to Filter" style="width: 200px;" ></td>
                        <td style="padding: 10px;">  <button type="submit" id="filter" class="btn btn-outline-secondary"
                            style="background-color: rgba(46, 45, 48, 0.342);">Search</button>
                        
                        
                        </td>
                    </form>



                    </tr>
                    </table>
                    </div>
                </div>

                {% block content %}

                
                <div id="promo">

                    {% for i in recipe %}
                   
                    <div class="jumbotron">
                                <img src="{{ i.picture.url    }}" class="mx-auto d-block">


                                <div style="padding-top: -20px;"> <label for="name"
                                        style="height: 35px; width:300px; font-size: 20px; text-align: center;padding-top: 5px; background-color:  rgb(3, 78, 37);">
                                        <a href="view/{{i.recipe_name}}/"> {{ i.recipe_name }}  </a>
                                    </label>
                                </div>

                    </div>


                   {% endfor%}
                </div>
                {% endblock %}





            </div>

            <div class="column2">



                <div id="promo">
                    {% csrf_token %}



                <div class="jumbotron">
                    <div class="row">

                        <h2 style="text-align: center;color: black; ">User Desk</h2>


                    </div><br><br>


                    <div class=" form-group dsk">
                        <tr for="test">Name:
                            <td style="text-align: center;">{{ data.name  }}</td>
                        </tr>
                    </div>
                    <div class=" form-group dsk">
                        <tr for="test">Email:
                            <td style="text-align: center;">{{ data.email  }}</td>
                        </tr>
                    </div>
                    <div class=" form-group dsk">
                        <tr for="test">Phone:
                            <td style="text-align: center;">{{ data.phone  }}</td>
                        </tr>
                    </div>
                    <div class=" form-group dsk">
                        <tr for="test">Address:
                            <td style="text-align: center;">{{ data.address  }}</td>
                        </tr>
                    </div>

                    

                    <div class="card rpc2">
                        <div class="card-body">

                            <h2
                                style="text-align: center;color:rgb(32, 31, 31);">
                                Add Own Recipe</h2>
                            <br>
                            <div class="text-center">



                                <a href="/addrecipe"><button name="add" id="add" class="btn btn-outline-secondary"
                                        style="background-color: rgba(46, 45, 48, 0.342); ">Add Recipe</button>

                                </a>
                                <a href="/editrecipe">
                                <button id="edit" class="btn btn-outline-secondary"
                                    style="background-color: rgba(46, 45, 48, 0.342);">Edit Recipe</button>
                                </a>

                            </div>

                        </div>
                    </div>
                </div>
                </div>



            </div>
        </div>
    </div>
    

    


    <!-- <footer style=" background-color: lightblue; height: 30vh; padding: 1% 5% 1% 5%;">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 footer-navigation">
                    <h3><a href="#">Food Plaza Website </a></h3>
                    <p class="links"><a href="#">Home</a><strong> · </strong><a href="#">About us</a></p>
                    <p class="company-name">Gulshan Baraik © 2020 </p>
                </div>
                <div class="col-md-4 col-sm-6 footer-contacts">
                    <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
                        <p><span class="new-line-span">NIT Jamshedpur</span> Jharkhand, India</p>
                    </div>
                    <div><i class="fa fa-phone footer-contacts-icon"></i>
                        <p class="footer-center-info email text-left"> +91 790 3189580</p>
                    </div>
                    <div><i class="fa fa-envelope footer-contacts-icon"></i>
                        <p> <a href="#">support@foodplaza.com</a></p>
                    </div>
                </div>
                <div class="clearfix visible-sm-block"></div>
                <div class="col-md-4 footer-about">
                    <h4>About the company</h4>
                    <p> Established by Gulshan in the year 2020.
                    </p>
                    <div class="social-links social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i
                                class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div>
                </div>
            </div>
        </div>
    </footer> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
</body>

</html>